executor {
    name = 'slurm'
    queueSize = 2000
}
docker {
    enabled = true
}
report {
    enabled = true
    file = 'reports/report.html'
}
trace {
    enabled = true
    file = 'reports/trace.txt'
}
timeline {
    enabled = true
    file = 'reports/timeline.html'
}
dag {
    enabled = true
    file = 'reports/dag.dot'
}
process {
    executor='local'
    scratch=false
    maxRetries=30
    errorStrategy='retry'
    withName: mapping {
        cpus=1
        memory "1G"
        time "30s"
        container=##mettre chemin container venant de dockerhub
}
process {
    executor='local'
    scratch=false
    maxRetries=30
    errorStrategy='retry'
    withName: count {
        cpus=1
        memory "1G"
        time "30s"
        container= balblabla
}
process {
    executor='local'
    scratch=false
    maxRetries=30
    errorStrategy='retry'
    withName: subread {
        cpus=1
        memory "1G"
        time "30s"
        container=
}
process {
    executor='local'
    scratch=false
    maxRetries=30
    errorStrategy='retry'
    withName: analyze {
        cpus=1
        memory "1G"
        time "30s"
        container="/deseq2:v...."
}

}