executor {
    name = 'slurm'
    queueSize = 2000
}
docker {
    enabled = true
}


timeline {
    enabled = true
    file = 'reports/timeline.html'
}
dag {
    enabled = true
    file = 'reports/dag.dot'
}
report {
enabled = false
}
process {
    executor='local'
    scratch=false
    errorStrategy='terminate'
    withName: Recup_data {
        cpus=16
        container="maisenh/fastq-dump:v3.0.4"
    }
    withName: Getinfo{
        cpus=16
    }
    withName: Indexation{
        cpus=16
        container="maisenh/star:v0.1"
    
    }
    withName: Mapping {
        cpus=16
        container="maisenh/star:v0.1"
    
    }
    withName: Samtools {
        cpus=16
        container="staphb/samtools:latest"
    
    }
    withName: Featurecount {                                                                                                         
        cpus=16                                                                                                                 
        container="maisenh/featurecounts:v2.0.3"                                                                                                                                                                                                               
    } 
    withName: AnalyseStat {                                                                                                         
        cpus=16                                                                                                               
        container="genomicpariscentre/deseq2:latest"                                                                                                                                                                                                             
    }  
    withName: AnalyseStat2 {
        cpus=16                                                                                                               
        container="msgao/biomart"
    }

}
