executor {
    name = 'slurm'
    queueSize = 2000
}
docker {
    enabled = true
}


timeline {
    enabled = true
    file = 'reports/timeline.html'
}
dag {
    enabled = true
    file = 'reports/dag.dot'
}
report {
enabled = false
}
process {
    executor='local'
    scratch=false
    errorStrategy='terminate'
    withName: recup_data {
        cpus=2
        container="maisenh/fastq-dump:v3.0.4"
    }
    withName: trimmomatic{
	cpus=2
	container= "chrishah/trimmomatic-docker:0.38"
    }
}
