executor {
    name = 'slurm'
    queueSize = 2000
}
docker {
    enabled = true
}


timeline {
    enabled = true
    file = 'reports/timeline.html'
}
dag {
    enabled = true
    file = 'reports/dag.dot'
}
process {
    executor='local'
    scratch=false
    maxRetries=30
    errorStrategy='retry'
    withName: recup_data {
        cpus=1
        container="maisenh/fastq-dump:v3.0.0"
    }
}

