executor {
    name = 'slurm'
    queueSize = 2000
}
docker {
    enabled = true
}


timeline {
    enabled = true
    file = 'reports/timeline.html'
}
dag {
    enabled = true
    file = 'reports/dag.dot'
}
report {
enabled = false
}
process {
    executor='local'
    scratch=false
    errorStrategy='terminate'
    withName: Getinfo{
        cpus=2
    withName: Indexation{
        cpus=2
        container="maisenh/star:v0.1"
    }
}
